* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  background-color: #191818;
  color: white; }

.barra-de-navegacion {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: black;
  align-items: center; }
  .barra-de-navegacion img {
    display: none;
    width: 100%; }
  .barra-de-navegacion ul {
    padding: 2rem 0;
    list-style-type: none; }
    .barra-de-navegacion ul li {
      text-align: center;
      padding-block: 1em; }
      .barra-de-navegacion ul li:hover {
        transform: scale(1.2); }
      .barra-de-navegacion ul li a {
        text-decoration: none;
        color: white; }
        .barra-de-navegacion ul li a:hover {
          color: red; }

.footer-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding: 3rem;
  width: 100%; }
  .footer-contenedor img {
    display: block;
    width: 10rem;
    padding-block: 20px; }
  .footer-contenedor a {
    text-decoration: none;
    color: white; }

@media screen and (min-width: 768px) {
  .barra-de-navegacion {
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .barra-de-navegacion img {
      display: block;
      width: 7rem; }
    .barra-de-navegacion ul {
      display: flex;
      padding: 2rem 0;
      list-style-type: none; }
      .barra-de-navegacion ul li {
        text-align: center;
        padding-inline: 2em; }
  .footer-contenedor {
    flex-direction: row;
    justify-content: space-around; }
    .footer-contenedor img {
      padding-inline: 20px; } }

.header-fonts {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center; }

.header-index {
  background-color: #918383;
  width: 98%;
  margin: 0 auto;
  padding-block: 15em;
  height: 100vh;
  background-image: url("../img/map-fonfo.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode: multiply; }
  .header-index .contenedor-text {
    max-width: 1080px;
    margin: auto; }
  .header-index h1 {
    font-size: 10rem; }
  .header-index p {
    font-size: 1.2rem; }

.vid-introduccion {
  margin: 0 auto;
  max-width: 1920px; }
  .vid-introduccion h3 {
    text-align: center;
    font-size: 3rem;
    margin: 3em 0; }
  .vid-introduccion .contenedor-iframe {
    width: 90%;
    margin: 0 auto;
    padding-top: 50%;
    position: relative; }
    .vid-introduccion .contenedor-iframe iframe {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%; }

.contenedor-galeria {
  width: 90%;
  margin: 0 auto; }
  .contenedor-galeria h3 {
    text-align: center;
    font-size: 3rem;
    margin: 3em 0; }
  .contenedor-galeria p {
    text-align: justify; }
  .contenedor-galeria .container-xxl {
    padding: 0;
    margin: 0 auto; }
  .contenedor-galeria .photo-gallery {
    margin: auto 0; }
