.barra-de-navegacion {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #111;
  align-items: center; }
  .barra-de-navegacion img {
    display: none;
    width: 100%; }
  .barra-de-navegacion ul {
    padding-block: 2rem; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }
