.descripcion-equipos {
    h2 {
        text-align: center;
        font-size: 5rem;
        padding: 1em 0;
    }
    
    .contenedor-equipo {
        width: 80%;
        max-width: 1500px;
        margin: auto;
        h3 {
            text-align: center;
            font-size: 3rem;
            margin: 2em 0;
        }
        p {
            text-align: justify;
            margin: auto 0;
            padding: 2em;
        }
        img {
            display: block;
            width: 100%;
        }

        .contenedor-boton {
            text-align: center;
            .boton-equipos {
                margin: 2em 0;
                padding: 0.8em;
                border-radius: 0.8rem;
                background-color: rgb(189, 253, 95);
                &:hover {
                    transform: scale(1.05);
                }
                a {
                    font-size: 2rem;
                    text-align: center;
                    text-decoration: none;
                    color: $color-principal-2;
                }
            }

        }
    }
}