

.footer-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-principal-1;
    padding: 3rem;

    img {
        display: block;
        width: 200px;
        padding-block: 20px;
    }

    a {
        text-decoration: none;
        color: white;
    }
}