
.header-fonts {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.header-index {
    background-color: rgb(145, 131, 131);
    width: 98%;
    margin: 0 auto;
    padding-block: 15em;
    height: 100vh;
    background-image: url("../img/map-fonfo.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;

    .contenedor-text {
        max-width: 1080px;
        margin: auto;
    }
    h1 {
        font-size: 10rem;
    }
    p {
        font-size: 1.2rem;
    }
}