@media screen and (min-width: 768px) {
    .barra-de-navegacion {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        img {
            display: block;
            width: 7rem;
        }

        ul {
            display: flex;
            padding: 2rem 0;
            list-style-type: none;

            li {
                text-align: center;
                padding-inline: 2em;
            }
        }
    }

    .footer-contenedor {
        flex-direction: row;
        justify-content: space-around;

        img {
            padding-inline: 20px;
        }
    }
}